<!-- {{this.data|json}} -->
<form action="">
    <mat-form-field class="w-full">
        <mat-label>Field name</mat-label>
        <input matInput type="" placeholder="Name your field" value="">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Field type</mat-label>
        <mat-select>
            <mat-option *ngFor="let type_ of inputTypes" [value]="type_">
                {{type_| titlecase }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-label>Assignement </mat-label>
    <mat-radio-group>
        <div *ngFor="let assigned of assignementList">
            <mat-radio-button (click)="toggle(assigned.id)" [value]="assigned.id">{{assigned.name}}</mat-radio-button>
        </div>
    </mat-radio-group>
    <mat-form-field class="w-full" *ngIf="showUsers">
        <mat-label>Select a user</mat-label>
        <mat-select>
            <mat-option *ngFor="let user of users" [value]="user.email">
                {{user.name| titlecase }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full" *ngIf="showStages">
        <mat-label>Select a stage</mat-label>
        <mat-select>
            <mat-option *ngFor="let stage of stages" [value]="stage.id">
                {{stage.name| titlecase }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-flat-button class="float-right py-2" type="btn" color="primary"> Submit </button>
</form>
